* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

body {
  background-color: black;
}

.App {
  height: 100vh;
  /* background-image: url('../public/assets/cagdas-yalman-xtaon-01\ 1.svg'); */
  background-position: right;
}

ul li, a {
  text-decoration: none;
  list-style: none;
  color: white;
}

button {
  cursor: pointer;
}

.cover {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
  top: -25px;
  bottom: 0;
  left: 0;
  right: 0;
}

.slideshow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.actions {
  display: flex;
  width: 80%;
  /* border: 2px salmon solid; */
  justify-content: space-between;
  z-index: 2;
}

@media (max-height: 780px) {
   .cover {
     top: 150px;
   }   

   .actions {
     top: 400px;
     position: absolute;
   }
}